@import url(./for_footer.css);

body {
    background: url(../Images/h_bg.jpg) repeat top;
}

.cart_wraper {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 90%;
    margin: 25px auto;
    padding-bottom: 10px;
    background: #4c4e50;
    border-radius: 10px;
    font-family: 'Tinos', serif;
}

/* LEFT SECTION */
.left_section {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    width: 60%;
    margin: 15px 0;
}

.ht {
    border-bottom: 2px solid;
}

.items_section {
    display: flex;
    flex-flow: column;
    position: relative;
    border: 2px solid white;
    background: #4c4e50;
    border-radius: 10px;
    width: 100%;
    max-height: 600px;
    overflow-y: scroll;
    overflow-x: clip;
    scrollbar-width: none;
}

h2 {
    margin: 15px 20px;
    color: #252323;
    font-size: 1.7rem;
}

.for_items {
    display: flex;
    flex-shrink: 0;
    width: 98%;
    margin: 25px 8px;
    padding-bottom: 15px;
    border-bottom: 2px solid #dee1e3;
}

.empty_notice {
    white-space: nowrap;
    width: 100%;
    text-align: center;
    color: #f8f9f9;
}

.for_img {
    display: flex;
    flex-shrink: 0;
    width: 20%;
    align-items: center;
    justify-content: center;
}

.for_img img {
    width: 6rem;
    height: 6rem;
    border-radius: 10px;
}

.for_info {
    display: flex;
    flex-shrink: 0;
    text-align: center;
    align-items: center;
    width: 40%;
    height: 120px;
    font-family: 'Tinos', serif;
    font-weight: 600;
    color: #dee1e3;
    font-size: 1.3rem;
}

.for_quantity {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 120px;
    text-align: center;
    font-family: 'Tinos', serif;
    font-weight: 600;
    color: #dee1e3;
    font-size: 1.3rem;
}

.for_price {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 120px;
    font-family: 'Tinos', serif;
    font-weight: 600;
    color: #dee1e3;
    font-size: 1.3rem;
}


/* SHIPPING SECTION */
.shipping_info {
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    height: 10%;
    margin: 20px 0;
}

h3,
data {
    margin: 15px 20px;
    color: #252323;
    font-size: 1.4rem;
    border-bottom: 2px solid;
}

data {
    display: block;
    margin: 15px 20px;
    color: #f8f9f9;
    font-weight: 900;
    font-size: 1.4rem;
    border: none;
}

/* PAYMANT INFO SECTION */
.paymant_info {
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    height: 10%;
}

.for_pic {
    width: 80%;
    height: 40px;
    margin: 15px 20px;
}

.pay_pic {
    height: 100%;
    margin: 0 5px;
}

/* LEFT SECTION END */



/* RIGHT SECTION */
.right_section {
    width: 30%;
}

.summary_section {
    border: 2px solid white;
    border-radius: 10px;
    width: 100%;
    min-height: 300px;
}

.total_sum {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 30%;
    padding: 15px 5px;
}

.total_sum p,
.shipping_cost p,
.total_vat p {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    color: #f8f9f9;
}

.shipping_cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 30%;
    padding: 15px 5px;
}

hr {
    width: 95%;
    border-width: 4px;
    padding: 1px;
    background-color: white;
    margin-left: 5px;
    margin-top: 25px;
}

.total_vat {
    display: flex;
    justify-content: space-between;
    height: 30%;
    padding: 15px 5px;
}

.tav_tan {
    margin-right: 15px;
}

.tsn,
.scn,
.tav,
.tan {
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    color: #f8f9f9;
}

.checkout {
    padding: 10px;
    margin: 15px;
    background-color: #dee1e3;
    color: #393b3c;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.8rem;
    font-family: 'Teko', sans-serif;
    white-space: nowrap;
}

.checkout:hover {
    background-color: #393b3c;
    color: #dee1e3;
}

/* RIGHT SECTION END*/


/* BUTTON SECTION */
.tbn_wraper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.previous_page {
    width: 60px;
    height: 40px;
    margin: 15px 10%;
    padding: 8px;
    background-color: #dee1e3;
    color: #393b3c;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    font-size: 1rem;
    font-family: 'Teko', sans-serif;
    white-space: nowrap;
}

.previous_page:hover {
    background-color: #393b3c;
    color: #dee1e3;
}

.clear_cart {
    height: 40px;
    margin: 15px 10%;
    padding: 8px;
    background-color: #dee1e3;
    color: #393b3c;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 800;
    font-size: 1rem;
    font-family: 'Teko', sans-serif;
    white-space: nowrap;
}

.clear_cart:hover {
    background-color: #393b3c;
    color: #dee1e3;
}

/* BUTTON SECTION END*/

/* MEDIA FOR MEDIUM SCREEN */

@media screen and (min-width: 768px) and (max-width: 1024px) {

    /* FILTERS SECTION */
    .filter_wraper {
        width: 25%;
    }

    .filter_in_stock h3,
    .availability h3,
    .brand h3,
    .product_type h3,
    .color h3 {
        font-size: 20px;
    }

    input[type="checkbox"] {
        width: 0.85em;
        height: 0.85em;
    }

    .labels_f {
        line-height: 1rem;
        font-weight: 400;
        font-size: 16px;
    }

    .ftc {
        padding: 0px 10px;
    }

    .hide_f,
    .unhiden_f {
        margin-right: 0;
        width: 18px;
        margin-top: 5px;
    }

    /* FILTERS SECTION END */



    /* LEFT SECTION */

    .left_section {
        width: 55%;
    }

    .empty_notice {
        left: 45%;
        font-size: 24px;
    }

    .for_items {
        width: 96%;
    }

    .for_info,
    .for_quantity,
    .for_price {
        height: 80px;
        font-size: 1.2rem;
    }

    .for_pic {
        height: 35px;
    }

    .for_quantity {
        width: 15%;
    }

    .for_info {
        width: 43%;
    }

    .for_img img {
        width: 4.5rem;
        height: 4.5rem;
    }

    .date_of_delivery {
        font-size: 1.2rem;
    }

    /* RIGHT SECTION */
    .right_section {
        width: 35%;
    }

    .total_sum p,
    .shipping_cost p,
    .total_vat p {
        font-size: 1.2rem;
        margin-left: 0;
    }

    .total_vat {
        margin-right: 0px;
    }

    .tav_tan {
        margin-right: 0;
    }

    .tsn,
    .scn,
    .tan {
        margin-left: 0px;
        font-size: 1.2rem;
    }

    .tav {
        margin-left: 10px;
        font-size: 1.2rem;
    }

    .tsn,
    .scn,
    .tan {
        margin-left: 10px;
        font-size: 1.2rem;
    }
}

/* MEDIA FOR MEDIUM SCREEN END */

/* MEDIA FOR SMALL SCREEN */
@media screen and (min-width: 320px) and (max-width: 767px) {
    body {
        max-width: 767px;
    }

    /* FILTERS SECTION */
    .filtrer_title {
        top: 40px;
        left: 50%;
        font-size: 16px;
    }

    .inner {
        top: 0;
    }

    .filter_wraper {
        width: 95%;
        border: none;
    }

    .filter_in_stock,
    .ftc {
        width: 75%;
        padding: 5px;
    }

    .filter_in_stock h3,
    .availability h3,
    .brand h3,
    .product_type h3,
    .color h3 {
        font-weight: 500;
        font-size: 18px;
    }

    .ofw {
        margin: 8px auto;
    }

    input[type="checkbox"] {
        width: 0.55em;
        height: 0.55em;
    }

    .labels_f {
        line-height: 0.6rem;
        font-weight: 400;
        font-size: 2vw;
    }

    .hide_f,
    .unhiden_f {
        margin-right: 5px;
        width: 12px;
    }

    /* FILTERS SECTION END*/

    /* MAIN SECTION */
    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    .cart_wraper {
        margin-top: 45px;
        flex-flow: column;
        width: 95%;
    }

    .left_section {
        width: 98%;
        margin: 15px auto;
    }

    .for_items {
        align-items: center;
        justify-content: space-between;
    }

    .for_img,
    .for_info,
    .for_quantity,
    .for_price {
        height: fit-content;
        font-size: 0.9rem;
    }

    .for_img img {
        width: 3.5rem;
        height: 3.5rem;
    }

    .right_section {
        width: 98%;
        margin: 0 auto;
    }

    .for_quantity {
        width: 10%;
        padding: 3px;
    }

    .for_info {
        width: 40%;
    }

    .for_price {
        white-space: nowrap;
        margin-right: 8px;
    }

    .date_of_delivery {
        font-size: 1rem;
    }

    .data_od {
        font-size: 0.9rem;
    }

    .for_pic {
        height: 30px;
    }

    .total_sum p,
    .shipping_cost p,
    .total_vat p {
        font-size: 0.9rem;
    }

    .tsn,
    .scn,
    .tav,
    .tan {
        font-size: 0.9rem;
    }

    .checkout {
        padding: 6px;
        font-size: 0.6rem;
    }

    .previous_page {
        width: 50px;
        height: 30px;
        padding: 5px;
        font-size: 0.9rem;
    }

    .clear_cart {
        height: 30px;
        padding: 5px;
        font-size: 0.9rem;
    }
}